<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yuyue.app.api.mapper.MallShopMapper">
    <resultMap type="com.yuyue.app.api.domain.MallShop" id="MallShop">
            <id column="shop_id" property="shopId"/>
            <result column="merchant_id" property="merchantId"/>
            <result column="category" property="category"/>
            <result column="commodity_name" property="commodityName"/>
            <result column="detail" property="detail"/>
            <result column="service_type" property="serviceType"/>
            <result column="fare" property="fare"/>
            <result column="commodity_price" property="commodityPrice"/>
            <result column="business_time" property="businessTime"/>
            <result column="business_status" property="businessStatus"/>
            <result column="merchant_addr" property="merchantAddr"/>
            <result column="merchant_phone" property="merchantPhone"/>
            <result column="service_area" property="serviceArea"/>
            <result column="fee_area" property="feeArea"/>
            <result column="video_path" property="videoPath"/>
            <result column="score" property="score"/>
            <result column="remark" property="remark"/>
            <result column="create_time" property="createTime"/>
            <result column="status" property="status"/>
            <result column="order_id" property="orderId"/>
            <result column="start_time" property="startTime"/>
            <result column="end_time" property="endTime"/>
        <collection property="images" ofType="com.yuyue.app.api.domain.ShopImage" >
            <id column="image_id" property="imageId"/>
            <result column="image_path" property="imagePath"/>
            <result column="image_sort" property="imageSort"/>
        </collection>
    </resultMap>

    <select id="getMyMallShop"  parameterType="String" resultMap="MallShop">

       SELECT * FROM yuyue_mall_shop s
        left join  yuyue_mall_shop_images i
        on   s.shop_id = i.shop_id
        where s.shop_id  = #{shopId}
        order by i.image_sort

    </select>


    <select id="getAllMallShop"  parameterType="String" resultMap="MallShop">

        SELECT * FROM yuyue_mall_shop s,yuyue_mall_shop_images images
            where s.shop_id = images.shop_id and images.image_sort = '0'
              and s.status  = '10B' and s.business_status = 'open'
            <if test="content != null and content != '' ">
                and CONCAT(IFNULL(s.category,''),IFNULL(s.commodity_name,''),IFNULL(s.detail,''))  LIKE  concat('%', #{content}, '%')
            </if>
            <if test="myArea != null and myArea != '' ">
                and CONCAT(s.service_area) like concat('%', #{myArea}, '%')
            </if>
        order by s.create_time desc
    </select>

    <insert id="insertMyMallShop" parameterType="com.yuyue.app.api.domain.MallShop">
         replace into yuyue_mall_shop (shop_id,merchant_id,category,commodity_name,detail,service_type,fare,
         business_time,business_status,merchant_addr,merchant_phone,service_area,fee_area,video_path,remark,order_id,status)
         VALUES
         (#{shopId},#{merchantId},#{category},#{commodityName},#{detail},#{serviceType},#{fare},
         #{businessTime},#{businessStatus},#{merchantAddr},#{merchantPhone},#{serviceArea},#{feeArea},#{videoPath},#{remark},#{orderId},#{status})
    </insert>

    <update id="updateMyMallShopInfo" parameterType="com.yuyue.app.api.domain.MallShop">
        update  yuyue_mall_shop
        <set>

            <if test=" category != null and category != ''">
                category = #{category},
            </if>

            <if test=" commodityName != null and commodityName != ''">
                commodity_name = #{commodityName},
            </if>

            <if test=" detail != null and detail != ''">
                detail = #{detail},
            </if>

            <if test=" serviceType != null and serviceType != ''">
                service_type = #{serviceType},
            </if>

            <if test=" fare != null and fare != ''">
                fare = #{fare},
            </if>

            <if test=" businessTime != null and businessTime != ''">
                business_time = #{businessTime},
            </if>

            <if test=" merchantAddr != null and merchantAddr != ''">
                merchant_addr = #{merchantAddr},
            </if>

            <if test=" merchantPhone != null and merchantPhone != ''">
                merchant_phone = #{merchantPhone},
            </if>

            <if test=" serviceArea != null and serviceArea != ''">
                service_area = #{serviceArea},
            </if>

            <if test=" feeArea != null and feeArea != ''">
                fee_area = #{feeArea},
            </if>

            <if test=" videoPath != null and videoPath != ''">
                video_path = #{videoPath},
            </if>

            <if test=" remark != null and remark != ''">
                remark = #{remark},
            </if>
            <if test=" score != null and score != ''">
                score = #{score}
            </if>
            is_revise = #{}


        </set>
        where  shop_id = #{shopId}
    </update>


</mapper>

