<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yuyue.app.api.mapper.PayMapper">

    <!-- 查询多记录 -->
    <select id="getSCOrder"  parameterType="String" resultType="com.yuyue.app.api.domain.Order">
        SELECT *,DATE_FORMAT(COMPLETE_TIME ,'%Y-%m-%d %H:%i:%s')completeTime
         FROM yuyue_order b WHERE 1 = 1 and tradeType like  'SC%'
        <if test ="consumerId!=null and consumerId!=''">
            and  b.merchantId = #{consumerId}
        </if>

        <if test ="status!=null and status!=''">
            and  status = #{status}
        </if>
        order  by create_time desc
    </select>


    <!-- 查询单条记录 -->
    <select id="getChangeMoney" parameterType="String" resultType="com.yuyue.app.api.domain.ChangeMoney">
        SELECT b.*,DATE_FORMAT(b.COMPLETE_TIME ,'%Y-%m-%d %H:%i:%s') completeTime
            ,DATE_FORMAT(b.CREATE_TIME ,'%Y-%m-%d %H:%i:%s') createTime
        FROM yuyue_change_money b where 1=1
        <if test="id != null and id != ''">
            and b.id = #{id}
        </if>
        order by b.COMPLETE_TIME desc LIMIT 1
    </select>

    <update id="updateChangeMoneyStatus"  parameterType="String">
        UPDATE yuyue_change_money
        <set>
            <if test="responseCode != null and responseCode != ''"> responseCode= #{responseCode},</if>
            <if test="responseMessage != null and responseMessage != ''"> responseMessage= #{responseMessage},</if>
            <if test="status != null and status != ''"> status= #{status}, </if>
        </set>
        WHERE 1=1
        <if test="id!=null and id!=''">
            and id = #{id}
        </if>
    </update>

    <!-- 查询商户店家ID -->
    <select id="getShopUserList" parameterType="String" resultType="String">
        SELECT d.merchant_id merchantId FROM yuyue_order b,yuyue_mall_order_item c,yuyue_mall_shop d
        WHERE 1=1 AND c.shop_id = d.shop_id
            <if test="id!=null and id!=''">
                and b.id = #{id} and c.order_id = #{id}
            </if>
        GROUP BY d.merchant_id order by d.create_time desc
    </select>

    <!-- 查询订单状态 -->
    <select id="getMoneyStatus" parameterType="String" resultType="String">
        SELECT b.status FROM yuyue_order b
        WHERE 1=1
            <if test="orderId!=null and orderId!=''">
                and b.id = #{orderId}
            </if>
        order by b.create_time desc limit 1
    </select>

    <!-- 查询打赏、提现记录 -->
    <select id="changeMoneyList" parameterType="String" resultType="com.yuyue.app.api.domain.ChangeMoneyVo">
        SELECT (SELECT c.USER_NICK_NAME FROM yuyue_merchant c WHERE c.ID = b.merchantId) yiName,
               (SELECT c.USER_NICK_NAME FROM yuyue_merchant c WHERE c.ID = b.sourceId) sourceName,
               (SELECT c.HEADP_URL FROM yuyue_merchant c WHERE c.ID = b.merchantId) headpUrl,
               b.merchantId,b.changeNo,b.tradeType,b.money,b.`status`,b.note,
               DATE_FORMAT(b.COMPLETE_TIME ,'%Y-%m-%d %H:%i:%s') completeTime
        FROM yuyue_change_money b
        WHERE 1=1
        <if test="videoId!=null and videoId!=''">
            and b.videoId = #{videoId}
        </if>
        <if test="tradeType!=null and tradeType!=''">
            and b.tradeType like concat('%', #{tradeType}, '%')
        </if>
        <if test="userId!=null and userId!=''">
            and b.merchantId = #{userId}
        </if>
        order by b.COMPLETE_TIME desc LIMIT #{begin},#{size}
    </select>
</mapper>