<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE generatorConfiguration
        PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
        "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">

<generatorConfiguration>

    <!-- MyBatis3Simple：不生成 Example相关类及方法 -->
    <context id="Mysql" targetRuntime="MyBatis3Simple" defaultModelType="flat">

        <!-- 格式化java代码 -->
        <property name="javaFormatter" value="org.mybatis.generator.api.dom.DefaultJavaFormatter" />

        <!-- 标记数据库对象 -->
        <property name="beginningDelimiter" value="`" />
        <property name="endingDelimiter" value="`" />

        <!-- 编码  -->
        <property name="javaFileEncoding" value="UTF-8"/>

        <!-- 配置生成pojo的序列化的插件  -->
        <plugin type="org.mybatis.generator.plugins.SerializablePlugin" />

        <!-- 指定生成 Mapper 的继承模板 -->
        <plugin type="tk.mybatis.mapper.generator.MapperPlugin">
            <property name="mappers" value="com.yuyue.app.api.mapper.MyBaseMapper"/>
        </plugin>

        <!-- 自定义的注释生成插件-->
        <plugin type="com.yuyue.app.config.CommentPlugin">
            <!-- 抑制警告 -->
            <property name="suppressTypeWarnings" value="true" />
            <!-- 是否去除自动生成的注释 true：是 ： false:否 -->
            <property name="suppressAllComments" value="false" />
            <!-- 是否生成注释代时间戳-->
            <property name="suppressDate" value="true" />
        </plugin>

        <!-- lombok插件  -->
        <plugin type="com.yuyue.app.config.LombokPlugin" >
            <property name="hasLombok" value="true"/>
        </plugin>

        <!--关闭注释 -->
        <commentGenerator>
            <property name="suppressAllComments" value="true"/>
        </commentGenerator>

        <!--数据库连接信息 -->
        <jdbcConnection driverClass="com.mysql.jdbc.Driver"
                        connectionURL="jdbc:mysql://101.37.252.177:33060/yuyue?useUnicode=true&amp;characterEncoding=UTF8&amp;allowMultiQueries=true"
                        userId="root" password="Ab323232">
        </jdbcConnection>

        <!-- 是否使用bigDecimal， false可自动转化以下类型（Long, Integer, Short, etc.） -->
        <javaTypeResolver>
            <property name="forceBigDecimals" value="false" />
        </javaTypeResolver>

        <!--生成的model 包路径 -->
        <javaModelGenerator targetPackage="com.yuyue.app.api.domain" targetProject="src/main/java">
            <property name="enableSubPackages" value="true"/>
        </javaModelGenerator>

        <!--生成service,serviceImpl-->
        <!--<javaServiceGenerator targetPackage="com.yuyue.app.api.service" targetProject="src/main/java">
            <property name="enableSubPackages" value="true" />
        </javaServiceGenerator>-->

        <!--生成xml文件 路径 -->
        <sqlMapGenerator targetPackage="mappers" targetProject="src/main/resources">
            <property name="enableSubPackages" value="true"/>
        </sqlMapGenerator>

        <!-- 生成的mapper接口 的包路径 -->
        <javaClientGenerator type="XMLMAPPER" targetPackage="com.yuyue.app.api.mapper" targetProject="src/main/java">
            <property name="enableSubPackages" value="true"/>
        </javaClientGenerator>

        <!--可以指定数据库中的某个表，%表示所有表-->
        <table tableName="yuyue_merchant" domainObjectName="MerchantDao"
               enableCountByExample="false" enableUpdateByExample="false"
               enableDeleteByExample="false" enableSelectByExample="false"
               selectByExampleQueryId="false">
            <generatedKey column="id" sqlStatement="Mysql" identity="true" />
        </table>

    </context>
</generatorConfiguration>